body{
    font-family: 'Libre Franklin', sans-serif;
font-family: 'Oswald', sans-serif;
}
#image{
    background-image: url(cover/donation1.jpg);
    margin: 20px;
}
h1{
    text-align: center;
    text-size-adjust: 1200px;

}
p{
    text-align: center;
}
#link-button{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    font-weight: 700;
    border-radius: 5px;
    margin: 500px;
    text-align: center;
}
hr{
    
}
h2{
    text-align: center;
}
.text-100{
    text-align: center;
    text-size-adjust: 80px;
    color: silver;
}
.middle{
    text-align: center;
}
footer{
    text-align: center;
    background-color: black;
    color: aliceblue;

}
#red{
    color: red;
    font-size: 80px;
}

.tk{
    display: flex;

}
#Food{
    margin: 0%;

}