body{
    font-family: 'Libre Franklin', sans-serif;
font-family: 'Oswald', sans-serif;
}
#image{
    background-image: url(cover/donation1.jpg);
    margin: 20px;
}
h1{
    text-align: center;
    text-size-adjust: 1200px;

}
p{
    text-align: center;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    font-weight: 700;
    border-radius: 5px;
    margin: 500px;
    text-align: center;
}

h2{
    text-align: center;
}
.text-100{
    text-align: center;
    text-size-adjust: 80px;
    color: silver;
}
.middle{
    text-align: center;
}

.tk{
    display: flex;

}

.ammount{
    display: flex;
    margin: 330px;
}
.tk{
    width: 135px;
    height: 120px;
    text-align: center;
    background: #FAFAFA;
    border-radius: 5px;
    line-height: 120px;

}
#tk-border{
    background: #FFEEEE;
    border: 5px solid #ff5959;
justify-content: center;
}
.tk span{
    font-size: 30px;
    font-weight: 700;
    color: #707070
}
#tk-border span{
    font-size: 30px;
    font-weight: 700;
    color: #ff5959;

}

.plan{
    display: flex;
    justify-content: space-between;
}
.plan-1,
.plan-2,
.plan-3{
    flex-basis: 100%;
    padding: 40px 20px;
    background: #4F9DA610;
    border-radius: 5px;
}
.plan-1{
    background: #707070;
}
.plan-2{
    background: #707070;
    margin-left: 20px;
}
.plan-3{
    background: #707070;
    margin-left: 20px;
}.subscribe_content{
    width: 100%;
    background: #ff595910;
    text-align: center;
}

.subscribe_form {
    padding: 80px 0;
}

.subscribe_input {
    display: flex;
    width: 50%;
    margin: 0 auto;
    border-radius: 5px;
}

.subscribe_input input{
    font-size: 18px;
    width: 100%;
    padding: 5px 15px;
    border: none;
}

.subscribe_input button{
    font-size: 18px;
    border: none;
}
footer{
    background: black;
    text-align: center;
    color: #FAFAFA;
}
#red{
    color:red;
    font-size: 100px;
}